<h1>Panel administratora</h1>
<hr>

<div class="flex flex-column">
  <button pButton pRipple type="button" label="Stwórz event" [routerLink]="['/admin/create-event']"></button>
  <button pButton pRipple type="button" label="Stwórz wydarzenie" [routerLink]="['/admin/create-lecture']" class="mt-2"></button>
  <button pButton pRipple type="button" label="Lista eventów" [routerLink]="['/admin/venue-list']" class="mt-2"></button>
  <button pButton pRipple type="button" label="Lista wydarzeń" [routerLink]="['/admin/event-list']" class="mt-2"></button>
</div>
