.tile {
  padding: 25px;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 2px 8px 40px -22px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 8px 40px -22px rgba(66, 68, 90, 1);
  box-shadow: 2px 8px 40px -22px rgba(66, 68, 90, 1);
  z-index: 100;
  color: #0070B6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.col-6 {
  z-index: 100;
}

.selected {
  background-color: #00AEEF;
  color: #FFFFFF;
}
