<app-container>
  <div class="regions">
    <p class="mb-4 text-lg">Do jakiego oddziału należysz?</p>
    <p class="mb-4 line-height-3">
      Informacja o tym, na co ma wpływ ten wybór oraz podpowiedź <br> dla osób, które nie
      przynależą do żadnego biura.</p>
    <div class="grid">
      <div class="col-6 lg:col-4" *ngFor="let region of regions$ | async">
        <div class="tile" (click)="selectRegion(region)">
          {{ region }}
        </div>
      </div>
    </div>
    <div class="flex w-full justify-content-center">
      <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    </div>
  </div>

</app-container>

