/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/font-face';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  background-color: #F5FCFE;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Red Hat Display", Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  height: 100%;
}

hr {
  color: #00AEEF;
  border: none;
  background-color: #00AEEF;
  height: 1px;
  margin: 1rem 0;
}

.sizes {
  .p-inputtext {
    display: block;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.field * {
  display: block;
}

.dashboard-header {
  font-size: 18px;
  color: #0070B6;
}

.leave-event {
  margin-top: 1rem;
  button {
    width: 100%;
  }
}

.event {
  color: #0070B6;

  .header {
    display: flex;
    justify-content: space-between;
  }
  .event-name {
    cursor: pointer;
    line-height: 21px;
  }
  .event-date {
    align-items: center;
    min-width: 110px;

    span {
      margin-top: 5px;
    }
  }

  .event-header {
    span {
      margin-left: 5px;
    }
  }

  .location {
    .check-on-map {
      font-size: 14px;
      color: #101010;
    }
  }

  .address {
    font-size: 14px;
    color: #101010;
    line-height: 22px;
  }

  .event-details {
    .subject-element {
      color: #101010;
      font-size: 14px;
      margin-top: 1rem;

      .speaker {
        font-weight: bold;
      }

      .subject-name {
        margin-top: 5px;
      }
    }
  }
}

.spinner {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.p-button.p-button-outlined {
  color: #0070B6;
  border: 1px solid #0070B6;
}

@media screen and (min-width: 640px) {
  .leave-event {
    margin-top: 1rem;
    button {
      width: 200px;
    }
  }
}

