<h1>Lista wydarzeń</h1>
<hr>

<div class="venues-list">
  <ng-container *ngFor="let event of events">
    <div class="element">

      <span>
        {{ event.name }}
      </span>

      <div class="actions">
        <i class="pi pi-trash" (click)="deleteEvent(event.id)"></i>
      </div>
    </div>
  </ng-container>
</div>


<div class="spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
