
:host ::ng-deep {
  .container {
    background-color: #F5FCFE;

    .login-block {
      background-color: #FFF;
      z-index: 100;
      max-width: 400px;
      -webkit-box-shadow: 2px 8px 40px -22px rgba(66, 68, 90, 1);
      -moz-box-shadow: 2px 8px 40px -22px rgba(66, 68, 90, 1);
      box-shadow: 2px 8px 40px -22px rgba(66, 68, 90, 1);
    }

    .elipse-login-block {
      left: calc(50% - 220px);
      top: calc(50% - 200px);
    }
  }

  .p-button {
    width: 100%;
  }

  .p-button-label {
    font-weight: 300;
  }
}
