<app-container>
  <div class="login-block relative border-round flex flex-column py-4 px-3">
    <p class="mb-4 text-lg">Bądź na bieżąco!</p>
    <p class="mb-4 line-height-3"> Zaloguj się do aplikacji Britevent używając konta Google założonego
      w domenie britenet.com.pl </p>
    <p-button (click)="authService.loginUser()" label="Zaloguj się kontem google"></p-button>
  </div>
  <img src="assets/elipse-3.svg" class="absolute elipse-login-block" alt="circle">
</app-container>
