<div class="navigation fixed bottom-0 w-full flex justify-content-between align-items-center">
  <div class="nav-item"
       [ngClass]="{ 'active': activeItemId === item.id }"
       *ngFor="let item of navigationService.getNavigationConfig()"
       (click)="setActiveItemAdnNavigate(item.id, item.route)"
  >
    <i class="pi pi-{{ item.icon }}"></i>
    <span>{{ item.displayName }}</span>
  </div>
</div>
