.navigation {
  height: 70px;
  background-color: #FFF;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: -9px -19px 26px -32px #40414d;
  -moz-box-shadow: -9px -19px 26px -32px #40414d;
  box-shadow: -9px -19px 26px -32px #40414d;
  padding: 0 40px;

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    min-width: 70px;
    font-weight: 400;
    cursor: pointer;
    z-index: 100;

    & > i {
      color: #9F9F9F;
    };

    & > span {
      margin-top: 5px;
      color: #9F9F9F;
    }
  }

  .active {

    & > span {
      color: #0070B6;
      font-weight: bold;
    }

    & > i {
      color: #0070B6;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100px;
      height: 110px;
      background-color: rgb(121, 193, 255);
      border-radius: 50px;
      opacity: 0.1;

    }
  }
}

@keyframes SHW {
   0% {
    transform:scale(0.7);
    opacity:0
  }
  100% {
    transform: scale(1);
    opacity:1
  }
}

@media screen and (min-width: 640px) {
  .navigation {
  display: none !important;
  }
}
