<h1>Nowe wydarzenie</h1>
<hr>
<ng-container [formGroup]="form">
  <div class="grid mt-4 p-fluid p-grid p-formgrid">
    <div class="col-12">
      <div class="field">
        <label>Nazwa eventu</label>
        <input formControlName="name" pInputText />
      </div>
    </div>

    <div class="col-12">
      <div class="field">
        <label>Prowadzący</label>
        <input formControlName="presenter" pInputText />
      </div>
    </div>

    <div class="col-12">
      <div class="field">
        <label>Event</label>
        <p-dropdown formControlName="venueId" [options]="venues" optionValue="id" placeholder="Wybierz event" optionLabel="name" autoDisplayFirst="true"></p-dropdown>
      </div>
    </div>

    <div class="col-12">
      <div class="field">
        <label>Miejsce</label>
        <input formControlName="place" pInputText />
      </div>
    </div>

    <div class="col-12">
      <label>Etykieta</label>
      <p-autoComplete formControlName="labels" [suggestions]="filteredTags" (completeMethod)="filterCountry($event)" [dropdown]="true" field="label" [multiple]="true">
      </p-autoComplete>
    </div>

    <div class="col-12">
      <label>Godzina rozpoczęcia</label>
      <p-calendar formControlName="startDate" [showTime]="true" [hourFormat]="'24'" inputId="timeonly"></p-calendar>
    </div>

    <div class="col-12">
      <label>Godzina zakończenia</label>
      <p-calendar formControlName="endDate"  [showTime]="true" [hourFormat]="'24'" inputId="timeonly"></p-calendar>
    </div>

    <div class="col-12">
      <div class="field">
        <label>Limit osób</label>
        <input formControlName="limit" pInputText />
      </div>
    </div>

    <div class="col-12">
    <span class="field">
      <label>Opis</label>
      <textarea formControlName="description" rows="5" pInputTextarea></textarea>
    </span>
    </div>

    <div class="col-12">
      <button pButton pRipple type="button" (click)="saveEvent()" label="Dodaj event"></button>
    </div>
  </div>
</ng-container>
