<h1>Nowe event</h1>
<hr>
<ng-container [formGroup]="form">
  <div class="grid mt-4 p-fluid p-grid p-formgrid">
    <div class="col-12">
      <div class="field">
        <label>Nazwa wydarzenia</label>
        <input formControlName="name" pInputText />
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label>Adres wydarzenia</label>
        <input formControlName="address"  pInputText />
      </div>
    </div>
    <div class="col-12">
      <div class="field">
        <label>Limit miejsc</label>
        <input formControlName="limit"  pInputText />
      </div>
    </div>
    <div class="col-12">
      <label>Data od</label>
      <p-calendar formControlName="startDate"  [showTime]="true" [showSeconds]="false" inputId="time"></p-calendar>
    </div>
    <div class="col-12">
      <label>Data do</label>
      <p-calendar formControlName="endDate"  [showTime]="true" [showSeconds]="false" inputId="time"></p-calendar>
    </div>
    <div class="col-12">
    <span class="field">
      <label>Opis</label>
      <textarea formControlName="description"  rows="5" pInputTextarea></textarea>
    </span>
    </div>
    <div class="col-12">
      <button pButton pRipple type="button" label="Dodaj wydarzenie" (click)="createEvent()"></button>
    </div>
  </div>
</ng-container>

