<div class="container h-full w-full flex align-items-center justify-content-center p-4">
  <ng-content></ng-content>

  <img src="assets/elipse-1.png" class="absolute right-0 bottom-0" alt="ko">
  <img src="assets/elipse-2.png" class="absolute left-0 bottom-0" alt="">
  <img src="assets/britenet_logo.png" class="absolute brite-logo" alt="">
</div>
