button {
  width: auto;
}

.top {
  .dashboard-header {
    color: #FFFFFF;
  }

  hr {
    background-color: #FFFFFF;
  }
}


.lecture-descr {
  line-height: 22px;
  color: #101010;
}

.lecture {
  color: #101010;
}

.lecturer {
  font-weight: bold;
}
