<ng-container *ngIf="venue">
  <div class="top">
    <p class="dashboard-header mt-2">{{ venue?.name }}</p>
    <hr>
  </div>

  <app-card>
    <div class="event">
      <div class="time flex">
        <div class="date">
          <i class="pi pi-calendar"></i>
          <span class="pl-2">{{ venue?.startDate | date }}</span>
        </div>
      </div>
      <hr>
      <div class="flex location align-items-center justify-content-between">
        <div class="event-header flex align-items-center">
          <i class="pi pi-globe"></i>
          <span>Lokalizacja</span>
        </div>
      </div>
      <div class="address mt-3">{{ venue?.address }}</div>
      <hr>
      <div class="description">
        <span>Opis eventu</span>
        <div class="address mt-2">{{ venue?.description }}</div>
      </div>
      <div class="leave-event">
        <button pButton pRipple type="button" [label]="!venue?.isAttending ? 'Zapisz się na event': 'Zrezygnuj z wydarzenia'" (click)="manageAttending(venue?.id, venue?.isAttending)"
                class=" p-button-sm" [ngClass]="venue.isAttending ? 'p-button-outlined' : 'p-button-raised'"></button>
      </div>
    </div>
  </app-card>

  <p class="dashboard-header mt-4">Wydarzenia w ramach eventu</p>
  <hr>

  <div *ngIf="!venueEvents?.length">Brak wydarzeń w ramach eventu</div>

  <ng-container *ngFor="let event of venueEvents">
    <div class="mb-3">
      <app-card>
        <div class="event">
          <div class="tags">
            <ng-container>
              <p-tag styleClass="mr-2" value="{{ label.label }}" *ngFor="let label of event.labels"></p-tag>
            </ng-container>

          </div>
          <div class="time flex mt-3">
            <div class="date">
              <i class="pi pi-calendar"></i>
              <span class="pl-2">{{ event.startDate | date }}</span>
            </div>
            <div class="hour ml-5">
              <i class="pi pi-clock"></i>
              <span class="pl-2">{{ event.startDate | formatHour }} - {{ event.endDate  | formatHour }}</span>
            </div>
          </div>
          <div class="flex mt-3">
            <i class="pi pi-user"></i>
            <span class="ml-1">Liczba dostępnych miejsc: {{ event?.limit - event?.attendeesCount }}</span>
          </div>

          <div class="flex mt-3">
            <i class="pi pi-map"></i>
            <span class="ml-1">Miejsce: {{ event?.place }}</span>
          </div>

          <div class="lecture mt-4">
            <div class="lecturer">{{event?.presenter }}</div>
            <div class="subject mt-2">{{ event?.name }}</div>
            <hr>

            <div class="lecture-descr">
              {{ event?.description }}
            </div>

            <div class="leave-event">
              <button pButton pRipple type="button" [label]="!event?.isAttending ? 'Zapisz się na wydarzenie': 'Zrezygnuj z wydarzenia'" (click)="manageEventAttending(event?.id, event?.isAttending)"
                      class=" p-button-sm" [ngClass]="event.isAttending ? 'p-button-outlined' : 'p-button-raised'"></button>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </ng-container>
</ng-container>

<div class="spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

