<div class="profile flex flex-column align-items-center mt-5">
  <p-avatar label="{{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
  <div class="user-info flex flex-column align-items-center mt-3">
    <span class="full-name">{{ user.firstName }}  {{ user.lastName }}</span>
    <span class="mt-2 email">{{ user.email }}</span>
  </div>

  <hr class="mt-4">

  <div class="w-full mt-2">
    <app-card>
      <div class="card-top flex justify-content-between align-items-center">
        <div class="flex justify-content-center region">
          <i class="pi pi-lock"></i>
          <span class="ml-2">Panel administracyjny</span>
        </div>

        <div class="action" [routerLink]="['/admin']">
          <a>Przejdź</a>
        </div>
      </div>
      <div class="card-top flex justify-content-between align-items-center mt-3">
        <div class="flex justify-content-center region">
          <i class="pi pi-building"></i>
          <span class="ml-2">Oddział</span>
        </div>

        <div class="action">
          <a (click)="showRegionSelect = !showRegionSelect">Edytuj</a>
        </div>
      </div>
      <div class="mt-4" *ngIf="!showRegionSelect">
        {{ user.city }}
      </div>

      <div class="mt-4" *ngIf="showRegionSelect">
        <p-autoComplete
          [showEmptyMessage]="true"
          [suggestions]="filteredRegions"
          (completeMethod)="filterCountry($event)"
          (onSelect)="saveCity($event)"
          [dropdown]="true"
          [(ngModel)]="controlModel"
          field="name">
        </p-autoComplete>
      </div>

      <div class="leave-event">
        <button
          (click)="logoutUser()"
          pButton
          pRipple
          type="button"
          label="Wyloguj się"
          class="p-button-outlined p-button-sm mt-4">
        </button>
      </div>
    </app-card>
  </div>
</div>
