.profile {

  hr {
    width: 100%;
  }
  .user-info {
    color: #0070B6;

    .email {
      font-size: 14px;
    }
  }

  .card-top {
    .region {
      color: #0070B6;
    }

    .action {
      cursor: pointer;
    }
  }
}

:host ::ng-deep {
  .p-autocomplete {
    width: 100%;
  }
}
