
.desktop-navi {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  .container {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    min-width: 70px;
    font-weight: 400;
    cursor: pointer;
    z-index: 100;

    & > i {
      color: #9F9F9F;
    };

    & > span {
      margin-top: 5px;
      color: #9F9F9F;
    }
  }

  .active {

    & > span {
      color: #0070B6;
      font-weight: bold;
    }

    & > i {
      color: #0070B6;
    }

  }
}

@media screen and (max-width: 640px) {
  .desktop-navi {
    display: none !important;
  }
}
