<div class="desktop-navi">
  <div class="container">
    <div class="logo">
      <img src="assets/britenet_logo.png" class=" brite-logo" alt="">
    </div>
    <div class="links flex">
      <div class="nav-item"
           [ngClass]="{ 'active': activeItemId === item.id }"
           *ngFor="let item of navigationService.getNavigationConfig()"
           (click)="setActiveItemAdnNavigate(item.id, item.route)"
      >
        <i class="pi pi-{{ item.icon }}"></i>
        <span>{{ item.displayName }}</span>
      </div>
    </div>
    <div class="name">Witaj {{ (authService.userProfile$ | async).firstName }}</div>
  </div>
</div>
