.common-field {
  background-color: #F5FCFE;
  background-image:
    url("../../../../assets/ellipse_small-bg.svg"),
    url("../../../../assets/ellipse_big_bg.svg");
  background-repeat: no-repeat;
  background-position:
    top 413px left -45px,
    top 180px right -140px;
  padding: 20px;

  .wrapper {
    padding-bottom: 5rem;
  }

  .title {
    font-size: 18px;
    color: #0070B6;
  }
}

.big-circle {
  top: 100px;
  right: 0;
}

.small-circle {
  bottom: 0;
  left: -50px;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.event-details-bg {
  background-image:
    url("../../../../assets/ellipse_small-bg.svg"),
    url("../../../../assets/ellipse_big_bg.svg"),
    url("../../../../assets/rectangle_46.svg");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position:
    top 413px left -45px,
    top 180px right -140px,
    top -20px right 0px;
}

@media screen and (min-width: 640px) {

}
