<app-desktop-navigation></app-desktop-navigation>
<div class="common-field h-full">
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<app-mobile-navigation></app-mobile-navigation>
