.common-field {
  background: #FFF;
  background-image:
    url("../../../assets/ellipse_big_bg.svg");
  background-repeat: no-repeat;
  background-position:
    top 100px right -140px;
  padding: 20px;

  .wrapper {
    padding-bottom: 5rem;
  }

  .title {
    font-size: 18px;
    color: #0070B6;
  }
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}
