<div class="event-list">
  <p class="dashboard-header">Lista eventów</p>
  <hr>
  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="venuesList.length">
      <div class="conference-block" *ngFor="let event of venuesList">
        <app-card>
          <div class="event">
            <div class="flex header">
              <div class="flex event-name" [routerLink]="['/panel/event-list', event.id]">{{ event.name }}</div>
              <div class="flex event-date flex-column">
                <i class="pi pi-calendar"></i>
                <span>{{event.startDate | formatDay : event }}</span>
              </div>
            </div>
            <hr>
            <div class="flex location align-items-center justify-content-between">
              <div class="event-header flex align-items-center">
                <i class="pi pi-globe"></i>
                <span>Lokalizacja</span>
              </div>
            </div>
            <div class="address mt-1">{{ event.address }}</div>

            <div class="flex mt-3 location align-items-center justify-content-between">
              <div class="event-header flex align-items-center">
                <i class="pi pi-book"></i>
                <span class="mt-2">Opis</span>
              </div>
            </div>
            <div class="address">{{ event.description }}</div>


            <div class="leave-event">
              <button pButton pRipple type="button" [label]="!event.isAttending ? 'Zapisz się na event': 'Zrezygnuj z wydarzenia'" (click)="manageAttending(event.id, event.isAttending)"
                      class=" p-button-sm" [class.p-button-raised]="!event.isAttending" [class.p-button-outlined]="event.isAttending"></button>
            </div>
          </div>
        </app-card>
      </div>
    </ng-container>

    <div class="flex justify-content-center" *ngIf="!venuesList.length">
      <p>Brak nadchodzących eventów</p>
    </div>
  </ng-container>
</div>

<div class="spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
