<h1>Lista eventów</h1>
<hr>

<div class="venues-list">
  <ng-container *ngFor="let venue of venues">
    <div class="element">

      <span>
        {{ venue.name }}
      </span>

      <div class="actions">
        <i class="pi pi-trash" (click)="deleteEvent(venue.id)"></i>
      </div>
    </div>
  </ng-container>
</div>

<div class="spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
