.venues-list {
  display: flex;
  flex-direction: column;

  .element {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0070B6;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    z-index: 200;

    .actions {
      cursor: pointer;
      min-width: 45px;
    }
  }
}
