<div class="dashboard">
  <div class="events">
    <p class="dashboard-header">Twoje zbliżające się eventy</p>
    <hr>
    <ng-container *ngIf="!isLoading">
      <div class="mb-4" *ngFor="let venue of myVenues">
        <app-card>
          <div class="event">
            <div class="flex header">
              <div class="flex event-name" [routerLink]="['/panel/event-list', venue.id]">{{ venue.name }}</div>
              <div class="flex event-date flex-column">
                <i class="pi pi-calendar"></i>
                <span>{{venue.startDate | formatDay : venue }}</span>
              </div>
            </div>
            <hr>
            <div class="flex location align-items-center justify-content-between">
              <div class="event-header flex align-items-center">
                <i class="pi pi-globe"></i>
                <span>Lokalizacja</span>
              </div>
            </div>
            <div class="address mt-3">{{ venue.address }}</div>
            <hr>
            <div class="event-details align-items-center justify-content-between">
              <div class="event-header flex align-items-center">
                <i class="pi pi-book"></i>
                <span>Uczestniczysz w wydarzeniach:</span>
              </div>
              <ng-container *ngIf="venue.events.length">
                <div class="subject-element" *ngFor="let evt of venue.events">
                  <div class="speaker">{{ evt.presenter }}</div>
                  <div class="subject-name">{{ evt.name }}</div>
                </div>
              </ng-container>

              <ng-container *ngIf="!venue.events.length">
                <div class="mt-3 no-event">Nie uczestniczysz jeszcze w żadnym wydarzeniu</div>
              </ng-container>
            </div>
          </div>
        </app-card>
      </div>

      <ng-container *ngIf="!myVenues.length">
        <div class="flex justify-content-center">Brak zbliżających się eventów</div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div class="spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

