.dashboard {
  .lecture {
    line-height: 21px;
    margin-bottom: 1rem;

    .time {
      color: #0070B6;
    }

    .lecture-info {
      .speaker {
        font-weight: bold;
      }
    }
  }
}

.no-event {
  font-size: 14px;
  color: #101010;
  display: flex;
  justify-content: center;
}
