:host {
  width: 100%;
}

.card {
  background-color: #FFF;
  padding: 20px;
  border-radius: 10px;

  -webkit-box-shadow: -2px 8px 22px -17px rgba(66, 68, 90, 1);
  -moz-box-shadow: -2px 8px 22px -17px rgba(66, 68, 90, 1);
  box-shadow: -2px 8px 22px -17px rgba(66, 68, 90, 1);

  z-index: 200;
}
