@font-face {
  font-family: 'Red Hat Display';
  src: url("../fonts/RedHatDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url("../fonts/RedHatDisplay-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
